@model GameStore.Web.Areas.Manager.ViewModels.DeletePlatformTypeViewModel

<div class="modal-content">
    <div class="modal-header">
        <h4>@GlobalRes.DeletePlatformType?</h4>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("DeletePlatformType", "ManagerPlatformType", FormMethod.Post))
        {
            <input type="hidden" value="@Model.Id" name="Id" />
            <input type="submit" value="@GlobalRes.Delete" class="btn btn-info" />
            <a href="/PlatformType/PlatformTypeDetails/@Model.Id" class="btn btn-info">@GlobalRes.Cancel</a>
        }
    </div>
</div>