@using System.Threading
@using GameStore.BusinessLogicLayer.DTO
@model List<GameDTO>

@{
    ViewBag.Title = GlobalRes.Games;
    @Styles.Render("~/Content/catalog-styles.css")
}

<div class="p-3 content col-lg-9">
    <div class="page-head">
        <div class="page-head__title float-left"><h2>@GlobalRes.GamesOfGenre @ViewBag.GenreName</h2></div>
        <div class="clearfix"></div>
    </div>
    <div class="horizontal-line"></div><br /><br />
    @foreach (GameDTO game in Model)
    {
        <a href="/games/@game.Key">
            <div class="content__product">
                <span class="content__product__title font-weight-bold">@(Thread.CurrentThread.CurrentCulture.Name.StartsWith("en") ? game.NameEn : game.NameRu)</span>
            </div>
        </a>
    }
</div>
<div class="side col-lg-3"></div>