@using GameStore.Web.ViewModels
@model GenreListViewModel

@{
    ViewBag.Title = GlobalRes.NavGenres;
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/genre-styles.css")
}

<div class="p-3 content col-lg-9">
    <div class="page-head">
        <div class="page-head__title float-left"><h2>@GlobalRes.NavGenres</h2></div>
        <div class="page-head__content float-right">
            @if (Context.User.IsInRole("Manager"))
            {
                @Html.ActionLink(GlobalRes.CreateGenre, "CreateGenre", new { controller = "ManagerGenre", area = "Manager" })
            }
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="horizontal-line"></div><br /><br />
    @Html.Partial("_TreeGenres", Model)
</div>
<div class="side col-lg-3"></div>