<div class="modal-content">
    <div class="modal-header">
        <h4>@GlobalRes.OrderCreated</h4>
    </div>
    <div class="modal-body">
        @Html.ActionLink(GlobalRes.Confirm, "GetAllGames", new { controller = "Game" }, new { @class = "btn btn-info" })
    </div>
</div>